.quirky-orange {
  color: #E3591E
}


.ls-title {
  font-family: 'Suez One', sans-serif;
  font-weight: bold;
  color: black;
}

.ls-subheading {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: black;
}

.ls-text {
  font-family: 'Barlow', sans-serif;
}

.ls-bolded {
  font-weight: bold;
}
