.officers-title {
    font-family: 'Suez One', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 4vw;
    margin: 0.9em;
    text-align: center;
}

.officers-subheading {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 3vw;
    font-weight: bold;
    margin: 0.3em 0 0.3em 0;
    text-align: left;
}

.description {
    font-family: 'Barlow', sans-serif;
    color: #000;
    font-size: 1.2vw;
    margin: 0.3em;
    text-align: left;
}

.text {
    color: #000;
}

.role {
    font-size: 1.1vw;
}

#secondOfficersSection {
    background-color: #fff;
}