.pr-title {
    font-size: 3.5vw;
    margin: 0.9em
}

.pr-subheading {
    font-weight: bold;
    font-size: 2.5vw;
    margin: 0.7em 0 0.7em 0;
}

.pr-text {
    font-weight: bold;
    font-size: 1.1vw;
    margin: 0.5em;
}

a:link {
    color: #bbb;
}

/* visited link */
a:visited {
    color: #E3591E;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: #cd6c3c;
}

#secondPRSection {
    background-color: #fff;
}